.acc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.acc-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.acc-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.acc-input-container {
    margin-bottom: 15px;
    text-align: left;
}

.acc-input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.acc-input-container input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.acc-input-container input:focus {
    border-color: #0056b3;
    outline: none;
}
  
.error-fields {
    color: red;
    font-size: 20px;
    margin-left: 40px;
}

.acc-input-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.acc-input-style {
    margin-left: 10px;
}
  

.acc-button {
    width: 30%;
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.acc-button:hover {
    background-color: #004494;
}