.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .eye-icon {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .eye-icon i {
    font-size: 18px;
  }

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container input:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color:gray;
    margin-top: 20px;
}

button:hover {
    background-color: #004494;
}