.transaction-container {
    border: 1px solid lightgray;
}

.transaction-account {
    font-size: 20px;
    color: red;
}

.transaction-input-container, .transaction-button-section {
    display: flex;
}

.transaction-input{
    width: 300px;
}

.transaction-button {
    width: 200px;
}