.visually-hidden {
    display: none;
}

.pagination {
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-container {
    width: 13%;
}